<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>About</title>
</head>


<body>

    <nav class="nav-container">
                  
      <ul class="nav-items">
          <div class="company">
              <a href="/" class="companyname">tril.ml</a>
          </div>
          <li><a href="/" class="pages">home</a></li>

          <li><a id="active" href="/about" class="pages">about</a></li>

          <li><a href="/api" class="pages">api</a></li>
      </ul>
  </nav>

  <div class="maindiv">
    
    <h2>About tril.ml</h2>
    <p>It is an open source URL shortener with a minimalist User Interface.</p>
    <p>Contributions are welcome.</p>

    <p><b>Frontend: </b>HTML, CSS, Javascript</p>
    <p><b>Backend: </b>Express, Node.js</p>
    <p><b>Database: </b>Firebase Realtime Database</p>

    <h2>Project Link</h2>
    <a href="https://www.github.com/rohfl/UrlShortener">Github.</a>
  
  </div>


</body>
</html>