html {
    height: 100%;
    font-family: 'Roboto';
  }
  
  body{
      margin: 0px;
      padding-top: 50px;
      background-color: whitesmoke !important;
      min-height: 100%;
  }

.maincontainer {
    background-color: whitesmoke;
    width: fit-content;
    padding: 10%;
}

.first {
    
    border-radius: 15px;
    background-color: antiquewhite;
    min-height: 150px;
    min-width: 50px;

}

.company {
    font-family: 'Roboto';
  }
  
  #footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    bottom: 0;
    position: static;
}

.nav-items {
  list-style: none;
  margin: 0; 
  background: #242526;
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
  justify-content: flex-end;
  
}


.nav-items a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  height: 100%;
}

.nav-items a:hover{
  text-decoration: none;
  color: white;
  background-color: #464646;
  
}

.company {
  margin-right: auto;
  font-size: 1.5em;
  text-align: center;
}

.pages {
  font-size: 1.5em;
   text-align: center
}

#active {
  background-color: #616161;
}

ul {
  padding-inline-start: 0;
}