html {
    height: 100%;
    font-family: 'Roboto';
  }
  
  body{
      margin: 0px;
      padding-top: 50px;
      background-color: whitesmoke !important;
      min-height: 100%;
  }

.maincontainer {
    background-color: whitesmoke;
    width: fit-content;
    padding: 10%;
}

.first {
    
    border-radius: 15px;
    background-color: antiquewhite;
    min-height: 150px;
    min-width: 50px;

}