<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <div class="formContainer">
        <form id="urlform" action="/process" method='POST'>
            <input type="url" id="url" placeholder="Enter long url" name="longurl" required="true"><br>
            <input type="text" id="customurl" placeholder="Enter Custom if you want." name="customurl"><br>
            <button type="submit" id="submit">Submit</button>
        </form>
    </div>
</body>
</html>