html {
  height: 100%;
  background-color: whitesmoke;
  font-family: 'Roboto';
}

body{
    margin: 0px;
    min-height: 100%;
    background-color: whitesmoke !important;
}

.form{
    background-color: whitesmoke;
    text-align: center;
    padding: 10%;
}

  #url, #customurl{
    padding: 10px;
    font-size: 16px;
    color: #071b3b;
    width: 50%;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #173058;
    outline: none;
    background: transparent;
  }

  #submit {
    margin-top: 30px;
    background: #3e64ff;
    border: 2px solid #3e64ff;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    
  }
  button{
    min-width: 100px;
  }

  #copy {

    background: #04AA6D;
    border: 2px solid #147c51;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;

  }

  #submit:hover {
    
    background: #5a77d6;
    border: 2px solid #3e64ff;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    
  }

  #copy:hover{
    
    background: #81d6af;
    border: 2px solid #147c51;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    
  }

  #submit:disabled{
    
    background: #5a77d6;
    border: 2px solid #3e64ff;
    border-radius: 20px;
    padding-bottom: 10px;
    color: #fff;
    cursor: not-allowed;
    padding: 10px;

  }

  .totalmain {
    font-family: 'Roboto';
    margin-top: 30px;
  }

  .totalurls {
    
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: #E9EBEE;
  }

  #totalurls {
    margin: 0;
  }

  .output{

    background-color: #d5dbda;
    padding: 10px;
    margin: 10px;
    display: none;
    margin-top: 30px;
    width: 20%;
    border-radius: 10px;

  }

  #output {
    width: 100%;
    text-align: center;
  }

  .error{
    
    color: red;
    margin-top: 30px;
    font-family: 'Roboto';

  }

  .company {
    font-family: 'Roboto';
  }
  
  #footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    bottom: 0;
    position: static;
}

.nav-items {
  list-style: none;
  margin: 0; 
  background: #242526;
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
  justify-content: flex-end;
  
}

.nav-items a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  height: 100%;
}

.pages:hover{
  text-decoration: none;
  color: white;
  background-color: #464646;
  
}

.company {
  margin-right: auto;
  font-size: 1.5em;
  text-align: center;
}

.pages {
  font-size: 1.5em;
   text-align: center
}

#active {
  background-color: #616161;
}

ul {
  padding-inline-start: 0;
}

.companyname:hover {
  background-color: #242526;
  text-decoration: none;
  color: whitesmoke;
}

.opensource {
  text-align: center;
  margin-top: 15px;
}

.maindiv {
  font-family: 'Roboto';
  padding-top: 10vh;
  width: 100%;
  padding-bottom: 10vh;
  text-align: center;
  
}

.maindiv h2{
  margin-bottom: 10px;
  font-size: 2.5em;
}

.maindiv p{
  padding-bottom: 10px;
  font-size: 1.5em;
  margin:0;
}

.maindiv a{
  display: block;
  padding: 5px;
  padding-left: 0;
  font-size: 1.5em;
  /* width: 100px; */
}

.maindiv a:hover{
  font-size: 1.8em;
  color: rgb(80, 157, 230);
  cursor: pointer;
  transition: 0.2s;
}

.maindivapi {
  display: block;
  padding: 5px;
  padding-left: 0;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-size: 1.5em;
  text-align: center;
}

.containerdiv {
  text-align: left;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#turls {
  display: none;
  font-family: 'Roboto';
}

@media only screen and (max-device-width: 1080px) {

  #url, #customurl{

    padding: 10px;
    font-size: 16px;
    color: #071b3b;
    width: 80%;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #173058;
    outline: none;
    background: transparent;

  }

  .output{

    background-color: #d5dbda;
    padding: 10px;
    margin: 10px;
    display: none;
    margin-top: 30px;
    width: 80%;

  }

  .maindiv {
    padding: 0;
    padding-left: 3rem;
    padding-top: 2rem;
  }

}