html {
  height: 100%;
  background-color: whitesmoke;
  font-family: 'Roboto';
}

body{
    margin: 0px;
    min-height: 100%;
    background-color: whitesmoke !important;
}

.form{
    background-color: whitesmoke;
    text-align: center;
    padding: 10%;
}

  #url, #customurl{
    padding: 10px;
    font-size: 16px;
    color: #071b3b;
    width: 50%;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #173058;
    outline: none;
    background: transparent;
  }

  #submit {
    margin-top: 30px;
    background: #3e64ff;
    border: 2px solid #3e64ff;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    
  }
  button{
    min-width: 100px;
  }

  #copy {

    background: #04AA6D;
    border: 2px solid #147c51;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
  }

  #submit:hover {
    
    background: #5a77d6;
    border: 2px solid #3e64ff;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    
  }

  #copy:hover{
    
    background: #81d6af;
    border: 2px solid #147c51;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    
  }

  #submit:disabled{
    
    background: #5a77d6;
    border: 2px solid #3e64ff;
    border-radius: 20px;
    padding-bottom: 10px;
    color: #fff;
    cursor: not-allowed;
    padding: 10px;
  }

  .output{

    background-color: #d5dbda;
    padding: 10px;
    margin: 10px;
    display: none;
    margin-top: 30px;

  }

  .error{
    
    color: red;
    margin-top: 30px;
    font-family: 'Roboto';

  }

  .company {
    font-family: 'Roboto';
  }
  
  #footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    bottom: 0;
    position: static;
}

.nav-items {
  list-style: none;
  margin: 0; 
  background: #242526;
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
  justify-content: flex-end;
  
}


.nav-items a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  height: 100%;
}

.pages:hover{
  text-decoration: none;
  color: white;
  background-color: #464646;
  
}

.company {
  margin-right: auto;
  font-size: 1.5em;
  text-align: center;
}

.pages {
  font-size: 1.5em;
   text-align: center
}

#active {
  background-color: #616161;
}

ul {
  padding-inline-start: 0;
}

.companyname:hover {
  background-color: #242526;
  text-decoration: none;
  color: whitesmoke;
}

@media only screen and (max-device-width: 480px) {
  #url, #customurl{
    padding: 10px;
    font-size: 16px;
    color: #071b3b;
    width: 80%;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #173058;
    outline: none;
    background: transparent;
  }

}